/* Variables */
:root {
  --site-background:#FFFFFF;
  --text-color-black:#000000;
  --text-color-grey: #283136;
  --text-contacts-information-color:#666666;
  --footer-text-color: #444444;
  --main-slide-color:#EEEEEE;
  --catalog-slide-color:#4D4D4D;
  --link-color:#000000;
  --link-hover-color:#FB565A;
  --link-active-color:#A6A6A6;
  --line-link-color:#FB565A;
  --button-grey-hover-color:#DFDFDF;
  --button-grey-activ-color:#D5D5D5;
  --button-red-color:#FB565A;
  --button-red-hover-color:#E74246;
  --button-red-activ-color:#D7373B;;
  --button-green-color:#00CA74;
  --button-green-hover-color:#00BC6C;
  --button-green-activ-color:#00AA62;
  --button-yellow-color:#EFC84A;
  --button-yellow-hover-cokor:#EAB534;
  --button-yellow-activ-color:#E5A722;
  --text-bottom-color:#FFFFFF;

 }

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-grey);
  background-color: var(--site-background);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.hidden-title {
  display:none;
}

.main-header,
.preview,
.title-catalog {
  background-color: var(--main-slide-color);
}

.preview-slogan {
  margin-top: 0px;
}

.title-catalog {
  font-size: 55px;
  line-height: 55px;
  color: var(--text-color-black);
  margin-top: 0;
  padding-bottom: 108px;
  text-align: center;
}


/* form-sorting */

.form-sorting {
  background-color: var(--site-background);
}

.form-sorting legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

.price span {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-grey);
}

.price-entry {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-grey);
}

.form-sorting ul {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-grey);
  style: none;

}

.form-sorting-button {
  width: 260px;
  height: 50px;
  background-color: var(--main-slide-color);
  color: var(--text-color-black);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  border: none;
}

.form-sorting-button:hover {
  background-color: var(--button-grey-hover-color);
}

.form-sorting-button:active {
  background-color: var(--button-grey-activ-color);
  color: rgb(179, 179, 179);
}


/* product-filter */

.product-filter span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-black);

}

.product-filter .sort-link-active {
  color: var(--text-color-black);
  opacity: 1;
}


.product-filter a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-black);
  opacity: 0.3;
}


.product-filter a:hover {
  color: var(--text-color-black);
  opacity: 0.6;
}

.product-filter a:active {
  color: var(--text-color-black);
}


/* pagination */

.pagination-item a {
  background-color: var(--main-slide-color);
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-black);
}

.pagination-item-one a,
.pagination-item-one a:hover,
.pagination-item-one a:active {
  background-color: var(--site-background);
}

.pagination-item a:hover {
  background-color: var(--button-grey-hover-color);
}

.pagination-item a:active {
  background-color: var(--button-grey-activ-color);
  color: rgb(179, 179, 179);
}


/* Main navigation */

.main-header {
  display: grid;

}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  width: 1157px;
  margin: 0 auto;
  margin-top: 75px;

}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--link-color);
  background-color: transparent;
}

/* container */


.site-navigation a,
.header-basket {
  color: var(--link-color);
}

.site-navigation a:hover,
.header-basket:hover {
  color: var(--link-hover-color);
}

.site-navigation a:active,
.header-basket:active {
  color: var(--link-active-color);
  opacity: 0.3;
}


/* preview */

.preview-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-color-black);
}


/* section features */

.features {
  margin: 0 auto;
  width: 1157px;

}

h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 100px;



/* section benefits */

.benefits-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-color-black);
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-grey);
}

/* section benefits */

.contacts-information span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

.contacts-information p {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-information-color);
}


/* main-footer */

.main-footer h2{
  font-size: 36px;
  line-height: 36px;
  color: var(--text-color-black);
  }

  .main-footer p {
    font-size: 16px;
  line-height: 22px;
  color: var(--footer-text-color);
  }







