/* Variables */
:root {
  --site-background:#FFFFFF;
  --text-color-black:#000000;
  --text-color-grey: #283136;
  --text-contacts-information-color:#666666;
  --footer-text-color: #444444;
  --main-slide-color:#EEEEEE;
  --catalog-slide-color:#4D4D4D;
  --link-color:#000000;
  --link-hover-color:#E74246;;
  --link-active-color:#A6A6A6;
  --line-link-color:#FB565A;
  --button-grey-hover-color:#DFDFDF;
  --button-grey-activ-color:#D5D5D5;
  --button-red-color:#FB565A;
  --button-red-hover-color:#E74246;
  --button-red-activ-color:#D7373B;;
  --button-green-color:#00CA74;
  --button-green-hover-color:#00BC6C;
  --button-green-activ-color:#00AA62;
  --button-yellow-color:#EFC84A;
  --button-yellow-hover-color:#EAB534;
  --button-yellow-activ-color:#E5A722;
  --text-bottom-color:#FFFFFF;
  --pay-block-text:#666666;
  --range-controls-background:#EEEEEE;
  --range-controls-scale-background:#D7DCDF;
  --range-controls-bar-background:#00CA74;
  --range-controls-toggle-border:#FFFFFF;
  --range-controls-toggle-background:#ABABAB;
  --border-popup-color:#D7DCDE;
  --border-popup-hover-color:#B4B9BB;
  --border-popup-focus-color:#000000;
 }

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-grey);
  background-color: var(--site-background);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

a.link-page {
  padding-bottom: 18px;
  border-bottom: 2px solid #FB565A;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

.visually-hidden {
  display:none;
}

.main-header,
.slider,
.title-catalog {
  background-color: var(--main-slide-color);
}

.preview-slogan {
  margin-top: 0px;
}

.title-catalog {
  font-size: 55px;
  line-height: 55px;
  color: var(--text-color-black);
  margin-top: 0;
  padding-top: 72px;
  padding-bottom: 90px;
  text-align: center;
  margin: 0;
}

.container {
  display: grid;
  grid-row-gap: 76px;
}


/* Main navigation */

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1157px;
  margin: 0 auto;
  margin-top: 48.98px;
}

.main-navigation,
.header-basket {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--link-color);
  background-color: transparent;
  padding-top: 12px;
}

.basket {
  padding-top: 12px;
}

.main-header-logo img {
  cursor: pointer;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation a,
.header-basket {
  color: var(--link-color);
}

.site-navigation a:hover,
.header-basket:hover {
  color: var(--link-hover-color);
}

.site-navigation a:active,
.header-basket:active {
  color: rgba(166,166,166,0.3);
}

.site-navigation {
  display: flex;
  width: 437px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 85px;
}

.header-basket {
  position: relative;
}

.header-basket::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  bottom: 2px;
 }

.header-basket:active::before {
    color: rgba(166,166,166,1);
}

/* preview */

.slider {
  position: relative;
}

.slider-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 73px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color-black);
}


.slider-block {
  display: flex;
  width: 1157px;
  justify-content: space-between;
  margin: 0 auto;
}

.slide {
  display: none;
}

.slider-text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 55px;
 }

.slider-button {
  background: var(--button-red-color);
  color: var(--text-bottom-color);
  border-radius: 3px;
  padding: 17px 54px 15px 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--button-red-hover-color);
}

.slider-button:active {
  background-color: var(--button-red-activ-color);
  color: rgba(255, 255, 255, 0.3);
}

.slider-controls {
  display: flex;
  width: 90px;
  justify-content: space-between;
  position: absolute;
  bottom: 101px;
  right: 747px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--site-background);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-controls .current {
  position: relative;
}


.slider-controls .current::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #C1C1C1;
  bottom: 4px;
  right: 4px;
}


/* section features */

.feature-block {
  padding-right: 60px;
}

.features {
  margin: 0 auto;
  width: 1158px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 100px;
}

.feature-text {
  margin-bottom: 32px;
  display: block;
  width: 260px;
}

.feature-button {
  color: var(--text-bottom-color);
  border-radius: 3px;
  display: inline-block;
  padding: 17px 39px 15px 40px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.feature-butto-red {
  background: var(--button-red-color);
  color: var(--text-bottom-color);
}

.feature-butto-red:hover {
  background-color: var(--button-red-hover-color);
}

.feature-butto-red:active {
  background-color: var(--button-red-activ-color);
  color: rgba(255, 255, 255, 0.3);
}

.feature-butto-green {
  background: var(--button-green-color);
}

.feature-butto-green:hover {
  background-color: var(--button-green-hover-color);
}

.feature-butto-green:active {
  background-color: var(--button-green-activ-color);
  color: rgba(255, 255, 255, 0.3);
}

.feature-butto-yellow {
  background: var(--button-yellow-color);
  color: var(--text-bottom-color);
}

.feature-butto-yellow:hover {
  background-color: var(--button-yellow-hover-color);
}

.feature-butto-yellow:active {
  background-color: var(--button-yellow-activ-color);
  color: rgba(255, 255, 255, 0.3);

}
/* section benefits */

.benefits {
  width: 1158px;
  display: grid;
  grid-template-columns: 1fr 360px;
  margin: 0 auto;
  border-top: 2px solid var(--main-slide-color);
 }


.benefits-left-block h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 23px;
}

.benefits-list {
  padding-left: 0;
  margin: 0;
}

.benefits-list li {
  position: relative;
  padding: 0 0 25px 35px;
}

.benefits-list li:last-child {
  padding-bottom: 0;
}

.benefits-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background: url("../img/left-line.svg") 0 0 no-repeat;
  position: absolute;
  top: 11px;
  left: 0;
}

.benefits-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 77px;
  margin-bottom: 33px;
  color: var(--text-color-black);
}

.benefits-paragraf {
  margin: 0;
}

.benefits-right-block {
  margin-top: 43px;
}

.benefits-right-block h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-color-grey);
  text-align: center;
  margin-top:37px;
  margin-bottom: 31px;
}

.contacts-information span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

.contacts-information p {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-information-color);
}

.accuracy-block {
  display: flex;
}

.accuracy-warranty {
  margin-top: 11px;
}

.accuracy-percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--text-color-black);
}

.accuracy-warranty {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-grey);
}

.accuracy.accuracy-one,
.accuracy.accuracy-two,
.accuracy.accuracy-three {
  max-width: 125px;
  display: flex;
  flex-direction: column;
}

.accuracy-percent {
  position: relative;
}

.accuracy-percent::after {
  content: "%";
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  position: absolute;
  top: 5px;
}


/* partners */

.partners {
  width: 1158px;
  margin: 0 auto;
  border-top: 2px solid var(--main-slide-color);
  border-bottom: 2px solid var(--main-slide-color);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 47px;
}

.partners-item {
  position: relative;
}


.partners-item::before {
  content: "";
  position: absolute;
  height: 52px;
  width: 2px;
  background-image: url("../img/vertical-line.svg");
  left: -65px;
  top: 50%;
  margin-top: -28px;
}

.partners-item:first-child:before {
  display: none;
}

.partners-list:first-child {
  padding-left: 32px;
}

.partners-list:last-child {
  padding-right: 41px;
}


.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
 opacity: 1.0;
}

.partners-item img:active {
 opacity: 0.12;
}

/* contacts" */

.contacts-block {
  padding-bottom: 50px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.contacts-point-map {
  position: absolute;
  top: 86px;
  right: 387px;
}

.contacts-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 319px;
  height: 308px;
  background: var(--site-background);
  position: absolute;
  top: 54px;
  left: 140px;
}

.contacts-phone {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-information-color);
}

.button-contacts-block {
  background: var(--button-red-color);
  color: var(--text-bottom-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  padding: 17px 44px 15px 44px;
  cursor: pointer;
}

.button-contacts-block:hover {
  background: var(--button-red-hover-color);
}

.contacts-information span {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-black);
}


.contacts-information p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-information-color);
}


/* catalog */


.page-catalog {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
  grid-template-rows: 30px 1fr;
}

.templates {
  grid-column-start:  2;
  grid-row-start: 2;
}


/* form-sorting */

.preview .form-sorting{
  background-color: var(--site-background);
}

.form-sorting legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color-black);
 }

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0 20px;
  background-color:var(--range-controls-background);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-scale-background);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--range-controls-bar-background);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--range-controls-toggle-border);
  background-color: var(--range-controls-toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--text-color-grey);
  border: none;
  border-radius: 5px;
  background: var(--range-controls-background);
  font-family: inherit;
  font-size: inherit;
}

.form-sorting ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-grey);
  style: none;
}

.form-sorting fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;
}

.form-sorting fieldset:first-child {
  margin-bottom: 55px;
}

.price-selection {
  margin-top: 48px;
}

.button-form {
  background-color: var(--main-slide-color);
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 17px 88px 15px 89px;
  margin-top: 5px;
}

.button-form:hover {
  background-color: var(--button-grey-hover-color);
}

.button-form:active {
  background-color: var(--button-grey-activ-color);
  color: rgb(179, 179, 179);
}


/* product-filter */

.product-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sort-link {
  padding-right: 25px;
}

.sort-link:last-child{
  padding-right: 0px;
}

.product-filter span {
  padding-right: 266px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-black);
}


.legend-title {
  padding-bottom: 16px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
}

.filter-input {
  style: none;
}

.filter-input-radio + label::before,
 .filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio + label::before {
  left: -38px;
  top: -4px;
  width: 21px;
  height: 21px;
  border: 4px solid var(--catalog-slide-color);
}

.filter-input-radio:checked + label::after {
  top: 6px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--catalog-slide-color);
}

.filter-input-checkbox + label::before {
  content: "";
  background-image: url(../img/square.svg);
  position: absolute;
  left: -36px;
  top: -2px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input:hover+ label:after {
  opacity: 1;
}

.filter-input:hover + label:before{
  opacity: 1;
}

.sort-link {
  ffont-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-black);
  opacity: 0.3;
}

.product-filter a:hover {
  color: var(--text-color-black);
  opacity: 0.6;
}

.product-filter a:active {
  color: var(--text-color-black);
  opacity: 1;
}


/* templates */


.templates {
  margin-top: 48px;
}

.templates-item {
  position: relative;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-item:hover .pay-block {
  display: block;
}

.templates-item:hover:before {
  opacity: 1;
}


.templates-item::before {
  content: "";
  position: relative;
  display: block;
  height: 40px;
  width: 360px;
  top: 0;
  left: 0;
  background-color: var(--catalog-slide-color);
  opacity: 0.12;
  border-radius: 5px 5px 0 0;
 }

.templates-item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 16px;
  background-color: var(--site-background);
  border-radius: 50%;
  box-shadow:
    23px 0 0 0 var(--site-background),
    46px 0 0 0 var(--site-background);
 }


.templates-list {
  display: flex;
  flex-wrap: wrap;
}

.templates-list {
  padding: 0;
  margin: 0;
}

.templates-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 31px;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

.templates-slider-img {
  opacity: 0.12;
}

.templates-slider-img:hover {
 opacity: 1.0;
}

/* pay-block */

.pay-block {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: center;
  vertical-align: middle;
  width: 360px;
  height: 231px;
  text-align: center;
  background: var(--main-slide-color);
 }

.pay-block-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--pay-block-text);
  margin: 0;
}

.pay-block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-black);
  text-transform: uppercase;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 12px;
  cursor: pointer;
}

.pay-block-title:hover {
  color: var(--line-link-color);
}

.pay-block-title:active {
  color: var(--link-color);
  opacity: 0.3;
}

.pay-block-button {
  padding: 17px 72px 15px;
  border: none;
  background: var(--button-red-color);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-bottom-color);
  margin-top: 33px;
  cursor: pointer;
}

.pay-block-button:hover {
  background-color: var(--button-red-hover-color);
}

.pay-block-button:active {
  background-color: var(--button-red-activ-color);
  color: rgba(255, 255, 255, 0.3);
}

.pay-block-button::after {
  content: " \20BD";
  top: 0;
  left: 0;
}


/* pagination */


.pagination-item a {
  background-color: var(--main-slide-color);
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-black);
 }

.pagination-item .pagination-link {
  padding: 17px 20px 15px 20px;
  border: 3px solid #DBDBDB;
  border-radius: 3px;
}


.pagination-item a:hover {
  background-color: var(--button-grey-hover-color);
}

.pagination-item a:active {
  background-color: var(--button-grey-activ-color);
  color: rgb(179, 179, 179);
}

.pagination-item-one a,
.pagination-item-one a:hover,
.pagination-item-one a:active {
  background-color: var(--site-background);
}

.pagination-list {
  display: flex;
  padding-left: 0;
  padding-top: 34px;
}

.pagination-item {
  padding-right: 11px;
  margin-left: 0;
}

.pagination-item .pagination-link-next {
  padding: 17px 77px 15px 77px;
}


/* popup */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 590px;
  background: var(--site-background);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.contacts-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.contacts-popup::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  top: 78px;
  right: 90px;
  opacity: 0.3;
  cursor: pointer;
}

.contacts-popup:hover::before {
    opacity: 1;
}

.contacts-popup:active::before {
    opacity: 0.1;
}

.contacts-popup-title {
  margin: 63px 0 37px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--text-color-black);
}

.contacts-popup-form {
  width: 761px;
}


.contacts-popup-form label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-black);
}

.contacts-data-user {
  width: 360px;
  padding: 16px 16px 16px 14px;
}

.contacts-data-user,
.contacts-popup-form textarea {
  border: 2px solid var(--border-popup-color);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.contacts-popup-form textarea:hover,
.contacts-data-user:hover {
  border: 2px solid var(--border-popup-hover-color);
}

.contacts-popup-form textarea:focus,
.contacts-data-user:focus {
  border: 2px solid var(--border-popup-focus-color);
  outline: none;
}

.contacts-data {
  display: flex;
  justify-content: space-between;
}

.contacts-data-block {
  margin-bottom: 34px;
}
.contacts-popup-form textarea {
  width: 100%;
  padding: 16px 0 0 16px;
}

.button-contacts-popup {
  background: var(--button-red-color);
  color: var(--text-bottom-color);
  width: 259px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  border: none;
  padding: 17px 83px 15px 83px;
  cursor: pointer;
  margin-top: 47px;
  text-transform: uppercase;
}

.button-contacts-popup:hover {
  background: var(--button-red-hover-color);
}


/* main-footer */

.main-footer-block {
  width: 1158px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 68px;
}

.main-footer h2{
  font-size: 36px;
  line-height: 36px;
  color: var(--text-color-black);
  }

  .main-footer p {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-text-color);
  }

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 261px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.social-button {
  display: block;
  position: relative;
  height: 81px;
  width: 81px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-button svg {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.social-button:active  path {
  fill: var(--site-background);
  opacity: 0.3
}

.social-button:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-social-list-block {
  padding-right: 139px;
}

.footer-title h2 {
  margin: 0;
   padding: 5px 0 10px;
}

.footer-title p{
  margin: 0;
}









